html {
  height: 100%;
  width: 100%;
}
/* header */
header{
  height: 250px;
}
header img{
position: absolute;
width: 100%;
height: 250px;
opacity: 0.3;
margin: 3px 3px 0px 3px;
}
header h1{
  font-size: 50px;
  text-align: right;
  color: red;
}
header h2{
  text-align: right;
  color: blue;
}
header p{
  text-align: right;
}
/* menu */
#obsah nav{
width: 200px;
display: inline-table;
margin: none;
padding: none;
}
#obsah li{
  list-style-type: none;
  text-align: center;
  background-color: blue;
  color: black;
  border: 3px solid black;
  margin: none;
  padding: none;
}
#obsah li:hover{
  background-color: red;
  color: white;
}
/* main */
main{
  margin-top: 15px;
  text-align: center;
  display: inline-table;
  border: 3px solid black;
  width: 1200px;
}
main h1{
  font-style: italic;
}
#nazev p{
  width: 32%;
  display: inline-table;
}
#dejepis p{
  display: inline;
}
#geografie img{
  float: right;
  text-align: right;
  width: 300px;
  height: 400px;
  margin-left: 20px;
}
#geografie{
  display: inline-block;
}
/* footer */
footer{
  background-color: blue;
  text-align: right;
  color: white;
  padding:5px 3px 5px;
  margin: 5px 0px 0px 0px;
  border: 3px solid black;
}