html {
  height: 100%;
  width: 100%;
}
ul{
  list-style-type: none;
  padding: 0px;
  width: 20%;
  
  border-left: 10px solid blue;
  border-right: 10px solid lightblue;
  
}
li{
  background-color: rgb(53, 59, 173);
  padding: 3px;

  border-bottom: 1px solid white;
}

li:last-child{
    border-bottom: 10px solid rgb(140, 140, 229);
}
a{
  color: white;
  text-decoration: none;
}
li.active{
  background-color: darkblue;
}
li:hover{
  background-color: aqua;
}

