@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
html {
  height: 100%;
  width: 100%;
  font-family: "Bungee Spice", sans-serif;
}
h1{
text-align: center;
}
.tasks{
  list-style-type: none;
}
.task{
  border: 1px solid black;
  text-align: center;
  margin: 3px;
  padding: 5px;
}
.task:hover{
  background-color: magenta;
}
li:first-child::before{
  content: "⭐";
}
