header h1{
    color: chocolate;
    text-align: center;
}
header p{
    color: gray;
    font-style: italic;
}
ul{
    list-style-type: none;
    background-color: rgb(255, 0, 123);
}
ul .special{
    color: chartreuse;
}
.highlight{
    text-indent: bold;
    color: brown;
}
.note{
    background-color: aliceblue;
}
#first-article h3{
    color: green;
}
 td, th {
    border: 1px solid black;
    text-align: center;}
table {
    border-collapse: collapse;
}
#main-footer .emphasize{
    color: blue ;
}